! Vars

! Small fonts

! #define FONT MonoFur for Powerline
! #define FONT NovaMono for Powerline
! #define FONT ProFont for Powerline
! #define FONT Hack
! #define FONT Source Code Pro
! #define FONT Creative Mono
! #define FONT Overpass Mono

! #define SIZE1 10
! #define SIZE2 12
! #define SIZE3 14
! #define SIZE4 18
! #define SIZE5 22
! #define SIZE6 26

! Medium fonts

#define FONT Inconsolata
! #define FONT Mononoki

#define SIZE1  9
#define SIZE2 11
#define SIZE3 13
#define SIZE4 17
#define SIZE5 21
#define SIZE6 25

! Big fonts

! #define FONT PT Mono
! #define FONT Share Tech Mono
! #define FONT Liberation Mono
! #define FONT Bitstream Vera Sans Mono
! #define FONT DejaVu Sans Mono
! #define FONT Terminus
! #define FONT Druid Sans Mono Dotted for Powerline

! #define SIZE1  8
! #define SIZE2 10
! #define SIZE3 12
! #define SIZE4 16
! #define SIZE5 20
! #define SIZE6 24

! Default font size
#define SIZE SIZE2

! Cursor theme
xcursor.theme:              Vanilla-DMZ

! Font anti-aliasing
! Xft.dpi:                    139
Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight
Xft.lcdfilter:              lcddefault

! Emacs
emacs.font:                 FONT-SIZE
emacs.menuBar:              off
emacs.toolBar:              off
emacs.verticalScrollBars:   off

! Xterm
XTerm*bellIsUrgent:         true
XTerm*metaSendsEscape:      true
XTerm*saveLines:            50000
XTerm*scrollKey:            true
XTerm*scrollTtyOutput:      false
XTerm*highlightSelection:   true
XTerm*trimSelection:        false
XTerm*printerCommand:       xterm-printer-command
XTerm*faceName:             FONT
XTerm*faceSize:             SIZE
XTerm*faceSize1:            SIZE1
XTerm*faceSize2:            SIZE2
XTerm*faceSize3:            SIZE3
XTerm*faceSize4:            SIZE4
XTerm*faceSize5:            SIZE5
XTerm*faceSize6:            SIZE6

XTerm.VT100.translations: #override \
  Super <Key> -: smaller-vt-font() \n\
  Super <Key> +: larger-vt-font() \n\
  Super <Key> b: print(noAttrs) \n\
  Shift <KeyPress> Home : scroll-to(begin) \n\
  Shift <KeyPress> End  : scroll-to(end)

#define COLOR_TANGO
! #define COLOR_MONOKAI

#ifdef COLOR_MONOKAI
! Base16 Monokai
! Scheme: Wimer Hazenberg (http://www.monokai.nl)
#define base00 #272822
#define base01 #383830
#define base02 #49483e
#define base03 #75715e
#define base04 #a59f85
#define base05 #f8f8f2
#define base06 #f5f4f1
#define base07 #f9f8f5
#define base08 #f92672
#define base09 #fd971f
#define base0A #f4bf75
#define base0B #a6e22e
#define base0C #a1efe4
#define base0D #66d9ef
#define base0E #ae81ff
#define base0F #cc6633

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06
#endif

#ifdef COLOR_TANGO
! Tango color scheme
!! Black
XTerm*color0:  #1e1e1e
XTerm*color8:  #555753
!! Red
XTerm*color1:  #cc0000
XTerm*color9:  #ef2929
!! Green
XTerm*color2:  #4e9a06
XTerm*color10: #8ae234
!! Yellow
XTerm*color3:  #c4a000
XTerm*color11: #fce94f
!! Blue
XTerm*color4:  #3465a4
XTerm*color12: #729fcf
!! Magenta
XTerm*color5:  #75507b
XTerm*color13: #ad7fa8
!! Cyan
XTerm*color6:  #0b939b
XTerm*color14: #00f5e9
!! White
XTerm*color7:  #d3d7cf
XTerm*color15: #eeeeec

XTerm*background: #2e3434
XTerm*foreground: #eeeeec
#endif
