! Cursor theme
xcursor.theme:              Vanilla-DMZ

Xft.dpi:                    96
Xft.antialias:              true
Xft.rgba:                   rgb
Xft.hinting:                true
Xft.hintstyle:              hintslight

! emacs.font:                 Liberation Mono-8
emacs.font:                 DejaVu Sans Mono-7
emacs.menuBar:              off
emacs.toolBar:              off
emacs.verticalScrollBars:   off

XTerm*bellIsUrgent:         true
XTerm*metaSendsEscape:      true
XTerm*saveLines:            50000

! XTerm*faceName:             Liberation Mono
XTerm*faceName:             DejaVu Sans Mono
! XTerm*faceName:             Terminus
! XTerm*faceName:             Courier-9

XTerm*faceSize:             9
! Unreadable:
XTerm*faceSize1:            7
! Tiny:
XTerm*faceSize2:            9
! Small:
XTerm*faceSize3:            12
! Medium:
XTerm*faceSize4:            16
! Large:
XTerm*faceSize5:            20
! Huge:
XTerm*faceSize6:            24

XTerm.VT100.translations: #override \
Super <Key> minus: smaller-vt-font() \n\
Super <Key> plus: larger-vt-font() \n\

! Tango color scheme
!! Black
XTerm*color0:  #1e1e1e
XTerm*color8:  #555753
!! Red
XTerm*color1:  #cc0000
XTerm*color9:  #ef2929
!! Green
XTerm*color2:  #4e9a06
XTerm*color10: #8ae234
!! Yellow
XTerm*color3:  #c4a000
XTerm*color11: #fce94f
!! Blue
XTerm*color4:  #3465a4
XTerm*color12: #729fcf
!! Magenta
XTerm*color5:  #75507b
XTerm*color13: #ad7fa8
!! Cyan
XTerm*color6:  #0b939b
XTerm*color14: #00f5e9
!! White
XTerm*color7:  #d3d7cf
XTerm*color15: #eeeeec

XTerm*background: #2e3434
XTerm*foreground: #eeeeec
